.posts-container {
    margin: auto;
    height: 93vh;
    overflow-y: auto;
}

.posts-header {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

.posts-header button,
.posts-header h1 {
    margin: 1%;
}

.posts-list {
    margin: 1%;
}

.filter-post-btn {
    background-color: #003478;
    color: white;
}

.filter-post-btn:hover {
    background-color: #ebf4ff;
    border: #ebf4ff;
}