.post-container {
    display: flex;
    flex: column;
    background: #ebf4ff;
    /* background: #c4deff; */
    border-radius: 20px;
    height: 18vh;
    width: 99%;
    margin: auto;
    margin-top: 1%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.post-container:hover {
    background-color: #c4deff;
    width: 100%;
}

.post-likes-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: 60%;
}

.post-like-btn,
.post-dislike-btn {
    background: none;
    border: none;
}

.post-like-btn:hover,
.post-dislike-btn:hover {
    background-color: #003478;
    color: white;
    border: none;
    border-radius: 100%;
}

.post {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 95%;
    height: 95%;
}

.post-header,
.post-info {
    display: flex;
    justify-content: space-between;
}

.post-author-profile:hover {
    color: white;
}

.post-topic-item {
    width: 250px;
    text-align: center;
    border-radius: 10px;
    margin: 1%;
    height: 25px;
}

.post-topic-1 {
    background-color: #1ABC9C;
}

.post-topic-2 {
    background-color: #E67E22;
}

.post-topic-3 {
    background-color: #2ECC71;
}

.post-topic-4 {
    background-color: #F39C12;
}

.post-topic-5 {
    background-color: #9B59B6;
}

.post-topic-6 {
    background-color: #3498DB;
}

.post-topic-7 {
    background-color: #E74C3C;
}

.post-body {
    background-color: white;
    height: 10vh;
}

.post-btn-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    width: 500px;
}

.post-btn, 
.post-btn-danger{
    height: 25px;
    padding: 0px;
    width: 75px;
}

.post-btn {
    background-color: #003478;
    border: #003478;
    color: white;
}

.post-btn:hover {
    background-color: #ebf4ff;
    border: #ebf4ff;
}