.event-container {
    display: flex;
    flex: column;
    background: #ebf4ff;
    border-radius: 20px;
    width: 20%;
    height: 43vh;
    margin: 1em;
    margin-top: 1%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.event-container:hover {
    background-color: #c4deff;
    width: 21%;
    height: 45vh;

    .event-img {
        width: 325px;
        height: 325px;
    }
}

.event {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    width: 95%;
    height: 95%;
}

.event-img {
    width: 300px;
    height: 300px;
    margin: auto;
    border-radius: 25px;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.event-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.event-footer {
    display: flex;
    justify-content: space-between;
}