.classifieds-container {
    margin: auto;
    height: 93vh;
    overflow-y: auto;
}

.classifieds-header {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* width: 95%; */
    /* margin: 1%; */
    background-color: white;
}

.classifieds-header button,
.classifieds-header h1 {
    margin: 1%;
}

.classifieds-list {
    /* width: 10%; */
    /* background-color: green; */
    margin: 1%;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.filter-classified-btn {
    background-color: #003478;
    color: white;
}

.filter-classified-btn:hover {
    background-color: #ebf4ff;
    border: #ebf4ff;
}

.create-classified-btn {
    background-color: #003478;
    color: white;
}

.create-classified-btn:hover {
    background-color: #ebf4ff;
    border: #ebf4ff;
    color: black;
}