.view-classified-container {
    margin: ;
    height: 93vh;
    overflow-y: auto;
}

.view-classified-header {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
    margin: 1%;
    height: 17vh;
    /* background-color: white; */
    background-color: #ebf4ff;
    border-radius: 25px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.view-classified-profile-picture-container {
    /* text-align: center; */
    width: 150px;
    margin: 5%;
}

.view-classified-profile-picture {
    width: 90%;
    border-radius: 25px;
}

.view-classified-header-text {
    flex-grow: 2;
    display: flex;
    height: 75%;
    width: 83%;
    flex-direction: column;
    justify-content: space-between;
    margin: 1%;
}

.view-classified-header-text-top {
    display: flex;
    justify-content: space-between;
}

.view-classified-btn {
    margin-left: 40px;
}

.view-classified-btn-container {
    display: flex;
    width: 20%;
    height: 50px;
    align-items: center;
    justify-content: space-between;
}

.view-classified-btn,
.view-classified-btn-danger {
    width: 35%;
    /* height: 50%; */
    text-align: center;
}

.view-classified-btn {
    background-color: #003478;
    border: #003478;
    color: white;
    margin-left: 40px;
}

.view-classified-btn:hover {
    background-color: #c4deff;
}

.view-classified-info {
    display: flex;
    justify-content: space-between;
}

.view-classified-body-container {
    background-color: #ebf4ff;
    border-radius: 25px;
    margin: 1%;
    height: 70vh;
    padding: 1%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
}

.view-classified-body {
    background-color: white;
    width: 68%;
    height: 100%;
    border-radius: 25px;
    padding: 1%;
}

.view-classified-images-container {
    width: 30%;
    height: 55vh;
}

.view-classified-image-container {
    margin-top: 10%;
    width: 500px;
    height: 500px;
    overflow: hidden;
    display: inline-block;
    object-fit: cover;
    object-position: center;
}

.view-classified-image {
    width: 100%;
    height: 100%;
}